<!DOCTYPE html>
<html lang="en" style="background: linear-gradient(2deg, white, rgb(14,47,8) 34%);">
    <%- include('./partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100" style="margin-bottom: 0px;background: linear-gradient(0deg, #093824 34%, white 100%);width: 100%;height: 100%;">
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-12" style="background: rgba(244,247,245,0.78);margin-top: 40px;border-radius: 10px;border-style: solid;border-color: rgb(147,147,147);">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="/add" style="background: rgba(244,247,245,0.84); margin-top: 20px">
                            <div class="m-3">
                                <h1>Edit Course Catalog</h1>
                                <p>When deleting courses, all fields with an asterisk<br>must match what has been previously entered.</p>
                            </div>
                            <div class="m-3"><input class="form-control" type="text" name="title" placeholder="* Course Title" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" autofocus required></div>
                            <div class="m-3"><input class="form-control" type="text" name="teacher" placeholder="* Professor" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" required></div>
                            <div class="m-3"><input class="form-control" type="text" name="teacher" placeholder="* Subject" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" required></div>
                            <div class="m-3"><input class="form-control" type="text" name="teacher" placeholder="* Credits" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" required></div>
                            <div class="m-3"><textarea class="form-control" name="description" rows="3" placeholder="Description"></textarea></div>
                            <div class="m-3 row">
                                <button class="btn btn-success d-block col-md-5 m-3" id="Submit" type="submit">Add Course</button>
                                <button class="btn btn-danger d-block col-md-5 m-3" id="Delete" type="">Delete Course</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <script src="/bootstrap.min.js"/></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
