<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100" style="margin-bottom: 0px;background: linear-gradient(0deg, #093824 34%, white 100%);width: 100%;height: 100%;">
    <%- include('./partials/nav.ejs') %>
    <div class="container">
            <div class="row">
                <div class="col-md-6" style="background: rgba(244,247,245,0.78);width: 460px;height: 525px;margin-top: 40px;border-radius: 10px;border-style: solid;border-color: rgb(147,147,147);">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center" style="margin-bottom: 20px;">Course Search</h2>
                            <h5 class="catalogHeader">Semester</h5>
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle dropdowns" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                            <h5 class="catalogHeader">Course</h5>
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle dropdowns" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                            <h5 class="catalogHeader">Location</h5>
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle dropdowns" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div>
                            <h5 class="catalogHeader">Weeks</h5>
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle dropdowns" aria-expanded="false" data-bs-toggle="dropdown" type="button">Dropdown </button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            </div><button class="btn btn-outline-success active text-center" type="button" style="margin-right: 25%;margin-top: 8px;margin-left: 35%;">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ms-auto" style="background: rgba(244,247,245,0.78);width: 800px;height: 525px;margin-top: 40px;border-radius: 10px;border-style: solid;border-color: rgb(147,147,147);margin-right: 0;">
                    <div class="card" style="margin-top: 10px;height: 150px;">
                        <div class="card-body">
                            <h3><input class="d-inline-block float-end" type="checkbox" style="width: 25px;height: 25px;">Class Title</h3>
                            <p><strong>Professor</strong></p>
                            <p>Class Time</p>
                        </div>
                    </div><button class="btn btn-outline-success active float-end" type="submit" style="margin-top: 10px;">Register</button>
                </div>
            </div>
        </div>
    <script src="/bootstrap.min.js"/></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
