<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body class="d-flex flex-column min-vh-100" style="background: #093824;">
    <div class="container">
        <section class="login-dark" style="background: url(&quot;img/loginBckgrnd.png&quot;) center / cover no-repeat;border-style: solid;border-radius: 10;">
            <form method="post" action="/register" style="background: rgba(244,247,245,0.84);">
                <h2 class="visually-hidden">Login Form</h2>
                <h3 class="display-6 text-center" style="color: rgb(6,6,6);">Welcome!</h3>
                <div class="mb-3"><input class="form-control" type="text" name="firstName" placeholder="First Name" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" autofocus required></div>
                <div class="mb-3"><input class="form-control" type="text" name="lastName" placeholder="Last Name" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" required></div>
                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" required></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="password" style="color: rgb(11,11,11); border-width: 1px; border-style: solid;" required></div>
                <div class="mb-3 d-flex justify-content-evenly">
                    <input type="radio" class="btn-check" id="classification1" name="classification" value="student" autocomplete="off" checked>
                    <label class="btn btn-primary w-auto mw-95" for="classification1" style="background: var(--bs-success);">Student</label>
                    <input type="radio" class="btn-check" id="classification2" name="classification" value="faculty"  autocomplete="off" >
                    <label class="btn btn-primary w-auto mw-95" for="classification2" style="background: #ddb12c;color: rgb(0,0,0);">Faculty</label>
                </div>
                <div class="mb-3"><button class="btn btn-danger d-block w-100" id="Submit" type="submit">Register</button></div>
            </form>
        </section>
    </div>
    <script src="/bootstrap.min.js"/></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
